VITE_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=your-anon-public-key

# API MyAnimeList (myanimelist.net/apiconfig)
MAL_CLIENT_ID=your-mal-client-id
MAL_CLIENT_SECRET=your-mal-client-secret
VITE_MAL_CLIENT_ID=your-mal-client-id
